@font-face {
  font-family: 'AmazingMother';
  src: url('AmazingMother.woff') format('woff');
  }
  
.AppHeader {
  text-align: center;
  font-family: 'AmazingMother', 'Times New Roman';
  padding-top: 20px;
}